<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">AdminKit</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Menu
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/app/dosen">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Data Dosen</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/app/bobot">
          <i class="align-middle" data-feather="droplet"></i> <span class="align-middle">Bobot</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/app/wp/rank">
          <i class="align-middle" data-feather="droplet"></i> <span class="align-middle">Perangkingan</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/app/wp/sensitivitas">
          <i class="align-middle" data-feather="droplet"></i> <span class="align-middle">Sensitivitas</span>
        </a>
      </li>
    </ul>

  </div>
</nav>